<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
    <script>
        function onclickAdmin() {
// Get the checkbox
            var checkBox = document.getElementById("admin-check");
// Get the output text
            var box = document.getElementById("admin-token");
// If the checkbox is checked, display the output text
            if (checkBox.checked == true){
                box.style.display = "block";
            } else {
                box.style.display = "none";
            }
        }
        function checkPwd(){
            let f1 = document.forms[0]; //첫번쨰폼을 뜻함.
            let pw1 = f1.password.value;
            let pw2 = f1.password_check.value;
            if(pw1!=pw2){
                document.getElementById('checkPwd').style.color = "red";
                document.getElementById('checkPwd').innerHTML = "동일한 암호를 입력하세요.";
            }else{
                document.getElementById('checkPwd').style.color = "black";
                document.getElementById('checkPwd').innerHTML = "암호가 확인 되었습니다.";
            }
        }
        function fn_usernameCheck(){
            $.ajax({
                type: 'POST',
                url: '/user/signup/{username}/exists',
                dateType:"JSON",
                data : {"username": $("#username").val()},
                success: function (data) {
                    if (data) {
                        alert("중복된 아이디입니다.");
                    }
                        $("#usernameCheck").attr("value", "Y");
                    alert("사용 가능한 아이디입니다.");
                }
            })
        }
    </script>
</head>
<body>
<div id="login-form">
    <div id="login-title">Sign up Select Shop</div>
<!--modelAttribute="SignupRequestDto"-->
    <form action="/user/signup" method="post" >
        <div class="login-id-label">Username</div>
        <input type="text" name="username" placeholder="아이디는 영어와 숫자로 포함해서 3~10자리 이내로 입력해주세요." class="login-input-box" >
        <button class="usernameCheck" type="button" id="usernameCheck" onclick="fn_usernameCheck()" value="N">중복확인</button>
        <p th:text="${valid_username}"></p>

        <div class="login-id-label">Password</div>
        <input type="password" name="password" placeholder="비밀번호는 영어와 숫자로 포함해서 4~8자리 이내로 입력해주세요." class="login-input-box" id="pw1" >
        <p th:text="${valid_password}"></p>
        <input type="password" name="password_check" class="login-input-box" id="pw2" onkeyup="checkPwd()">
        <p id="checkPwd"></p>

        <div class="login-id-label">E-mail</div>
        <input type="text" name="email" placeholder="이메일 형식에 맞게 입력하세요" class="login-input-box" >
        <p th:text="${valid_email}"></p>
<!--        <div>-->
<!--            <input id="admin-check" type="checkbox" name="admin" onclick="onclickAdmin()" style="margin-top: 40px;">관리자-->
<!--            <input id="admin-token" type="password" name="adminToken" placeholder="관리자 암호" class="login-input-box" style="display:none">-->
<!--        </div>-->
        <button id="login-id-submit">회원 가입</button>
    </form>

</div>
</body>
</html>